/* This is my css for my webpage */
/*This changes the color of my lists*/
h3 {
    color: slategray;
}
h2{
    color: hsl(180, 50%, 50%);
    text-align: left;
    text-decoration: underline;
    
}
.list{
    background-color: #ffbf00;

}
/*change the image style*/ 
img {
    border-style: groove;
    border-color: tomato;
    border-width: 2px;
    border-radius: 8px;
}



