/* This is my css for my webpage */
/*This changes the color of my lists*/
h3 {
    color: slategray;
}
h2{
    columns: hsl(180, 50%, 50%);
}
.Entry1{
    background-color: #ffbf00;
}
.Entry2{
    background-color: rgb(255,191,0);
}
.Entry3{
    background-color: hsl(45,100%,50%);
}
