/* This is my css for my webpage */
/*This changes the color of my lists*/
h3 {
    color: slategray;
}
h2{
    columns: hsl(180, 50%, 50%);
}
.list{
    background-color: #ffbf00;
    margin: 25px 50px 75px 100px;
}
/*change the image style*/ 
img {
    border-style: groove;
    border-color: tomato;
    border-width: 2px;
    border-radius: 8px;
}


